# 06_triage.py
argparse
numpy
tqdm
imagehash

# 05_prepare_yolo.py
opencv-python

# training yolov11 model
torch
ultralytics==8.3.0

# 09_prepare_fullboards.py
# training
torch_geometric
scikit-learn
scipy
matplotlib
